<div class="auth-container">
    <h1>Вхід</h1>
    <form action="/api/login" method="POST" class="auth-form">
        <div class="form-group">
            <input type="text" name="username" placeholder="Ім'я користувача" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Пароль" required>
        </div>
        <button type="submit" class="auth-button">Увійти</button>
    </form>
    <div class="auth-links">
        <a href="/register">Немає акаунту? Зареєструватися</a>
    </div>
</div> 